<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>

    <div class="main">

        <div class="container">
            <form method="POST" action="register" class="appointment-form" id="appointment-form">
                {% csrf_token %}
                <h2>Register and apply for a courses</h2>
                <div class="form-group-1">

                    <input type="text" name="fname" id="name" placeholder="Your First Name" required />
                     <input type="text" name="lname" id="name" placeholder="Your Last Name" required />
                     <input type="text" name="address" id="title" placeholder="Address" required />
                    <input type="text" name="dob" id="title" placeholder="DOB" required />

                    <input type="text" name="phone" id="phone_number" placeholder="Phone number" required />

                     <!--<input type="image" name="image" id="title" placeholder="image" required />-->
                    <input type="text" name="email" id="email" placeholder="Email" required />
                     <input type="text" name="password" id="title" placeholder="enter a password" required />
                     <input type="text" name="password1" id="title" placeholder="confirm your password" required />
                   <!-- <div class="select-list">
                        <select name="course_type" id="course_type">
                            <option selected value="">Course Type</option>
                            <option value="society">Society</option>
                            <option value="language">Language</option>
                        </select>
                    </div>-->
                </div>

                </div>

                <div class="form-submit">
                    <input type="submit" name="submit" id="submit" class="submit" value="submit" />
                </div>
            </form>
        </div>

    </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>